/* MotoGP-Desktop*/
/* Hoja de estilo para el juego de memoria con cartas */

/* Regla con el estilo general para las tarjetas del juego */
/* Especificidad del selector: 002 */
main article {
    width: 18vw;
    height: 30vh;
    position: relative;
    transform: scale(1);
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 0.1em 0.1em 0.1em rgba(0,0,0,.3);
    border: 0.1em solid #000000;
    margin: auto; /* Para centrar las cartas */
    color: #000000; /* Advertencia controlada: Color de fondo heredado de <body> */
}

/* Regla con la transformación que permite girar la carta cuando se le pone el data-estado al valor revelada */
/* Especificidad del selector: 012 */
main article[data-estado=revelada] {
    transform: rotateY(180deg);
}

/* Especificidad del selector: 012 */
main article[data-estado=volteada] {
    transform: rotateY(180deg);
}

/* Reglas con los estilos generales para el encabezado y la imagen de la carta */
/* Especificidad del selector: 002 | 002 */
article h3,
article img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: contain;
    border-radius: 0.3em;
    background: #E6E275; /* Advertencia controlada (x2): Color heredado de <body> */
    backface-visibility: hidden;
}

/* Regla para centrar el texto "Memory Card" vertical y horizontalmente en cada carta */
/* Especificidad del selector: 002 */
article h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/* Regla para rotar las imágenes y que se vean correctamente cuando se giran las cartas */
/* Especificidad del selector: 002 */
article img {
    transform: rotateY(180deg);
}

/* Tablet (768px) */
@media (max-width: 768px) {

    /* Especificidad del selector: 002 */
    main article {
        width: 35vw; /* Advertencia controlada: Redefinición de propiedad para preservar la adaptabilidad de la web */
        height: 18em; /* Advertencia controlada: Redefinición de propiedad para preservar la adaptabilidad de la web */
    }
}

/* Movil L (425px) */
@media (max-width: 425px) {

    /* Especificidad del selector: 002 */
    main article {
        height: 12em; /* Advertencia controlada: Redefinición de propiedad para preservar la adaptabilidad de la web */
    }
}
