/* Vicente Megido García - UO294013 */

/* Archivo de aspectos de distribución de elementos para la aplicación MotoGP - Desktop */

/* Especificidad del selector: 001 */
body {
    margin: 0;
}

/* Especificidad del selector: 001 */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* Especificidad del selector: 002 */
header h1 {
    flex: 1;
    margin: 1%;
}

/* Especificidad del selector: 001 */
nav {
    flex: 2;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
}

/* Especificidad del selector: 002 */
nav a {
    padding: 1%;
}

/* Especificidad del selector: 001 */
main {
    text-align: justify;
    margin-left: 2%;
    margin-right: 3%;
}

/* Especificidad del selector: 002 */
header + p {
    margin: 2%;
}

/* Especificidad del selector: 001 | 001 | 001 */
img,
video,
audio {
    max-width: 100%;
    object-fit: cover;
}

/* Especificidad del selector: 001 */
figure {
    text-align: center;
    padding: 1%;
}

/* Especificidad del selector: 001 */
audio {
    min-height: 3em;
}

/* Especificidad del selector: 001 */
figcaption {
    text-align: center;
    padding-top: 2%;
}

/* Especificidad del selector: 001 */
ol {
    line-height: 1.2em;
}

/* Especificidad del selector: 001 | 001 */
ul,
ol {
    padding-left: 1.2em;
}

/* Especificidad del selector: 001 */
li {
    margin-left: 1em;
    padding: 0.5em 0;
}

/* Especificidad del selector: 001 */
dl {
    padding: 1.2em;
}

/* Especificidad del selector: 001 */
dd {
    margin-left: 1em;
    margin-bottom: 1em;
    padding: 0.2em;
}

/* Especificidad del selector: 001 */
h3 {
    margin-top: 3em;
}

/* Especificidad del selector: 001 */
table {
    width: 100%;
    text-align: center;
    table-layout: fixed;
}

/* Especificidad del selector: 001 | 001 | 001 | 001 */
caption,
th,
td,
tr {
    padding: 2%;
}

/* Especificidad del selector: 001 */
footer {
    margin: 2%;
    padding: 1%;
    text-align: center;
}

/* Carrusel */
/* Especificidad del selector: 003 */
article h2 + img {
    display: block;
    width: 80%;
    height: auto;
    margin: 0 auto;
}

/* Especificidad del selector: 003 */
main h3 ~ article {
    margin-block: 1em;
    padding: 0.5em 2em 1.5em;
}

/* Media queries aplicadas: Distribución de contenidos (flex-direction: column en el header), dimensionado, y supresión de migas (en móviles) */

/* Escritorio y portátiles L (> 1025px) */
@media (min-width: 1025px) {
    
    /* Especificidad del selector: 001 */
    video {
        width: 100%;
        height: auto;
    }

    /* Especificidad del selector: 001 */
    audio {
        width: 100%;
    }
}

/* Portátil (1024px) */
@media (max-width: 1024px) {

}

/* Tablet (768px) */
@media (max-width: 768px) {

    /* Especificidad del selector: 001 */
    header {
        flex-direction: column; /* Advertencia controlada: Redefinición de propiedad para preservar la adaptabilidad de la web */
        align-items: center;
        padding: 1em 0;
    }

    /* Especificidad del selector: 002 */
    header nav {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 0.5em;
        padding: 1em;
    } 
            
    /* Especificidad del selector: 002 */
    header + p {
        display: none; /* En dispositivos móviles, NO mostrar las migas de navegación */
    }

    /* Especificidad del selector: 003 */
    article h2 + img {
        width: 100%; /* Advertencia controlada: Redefinición de propiedad para preservar la adaptabilidad de la web */
        height: auto; /* Advertencia controlada: Redefinición de propiedad para preservar la adaptabilidad de la web */
    }

    /* Especificidad del selector: 002 */
    article h2 {
        font-size: 1.2em;
        text-align: center;
    }
}

/* Movil L (425px) */
@media (max-width: 425px) {

}
