/* Vicente Megido García - UO294013 */

/* Archivo de aspectos de distribución de elementos para la aplicación MotoGP - Desktop */

/* Especificidad del selector: 001 */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* Especificidad del selector: 001 */
h1 {
    flex: 1;
}

/* Especificidad del selector: 001 */
nav {
    flex: 2;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
}

/* Especificidad del selector: 011 */
nav[hidden] {
    display: none;
}

/* Especificidad del selector: 001 */
video {
    display: block;
}

/* Carrusel */
/* Especificidad del selector: 003 */
article h2 + img {
    display: block;
}

/* Especificidad del selector: 016 */
main article:nth-of-type(3) h3 + label + input + div {
    display: block;
}

/* Especificidad del selector: 001 */
svg {
    display: block;
}

/* Especificidad del selector: 001 */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Especificidad del selector: 002 */
form label {
    align-self: flex-start;
}

/* Especificidad del selector: 002 */
form button {
    align-self: center;
}

/* Media queries aplicadas: Distribución de contenidos (flex-direction: column en el header), dimensionado, y supresión de migas (en móviles) */

/* Escritorio y portátiles L (> 769) */
@media (min-width: 769px) {
    
    /* Especificidad del selector: 002 */
    header > button {
        display: none;
    }

    /* Especificidad del selector: 012 */
    header nav {
        display: flex;
    }
}

/* Tablet (768px) */
@media (max-width: 768px) {

    /* Especificidad del selector: 001 */
    header {
        flex-direction: column; /* Advertencia controlada: Redefinición de propiedad para preservar la adaptabilidad de la web */
        align-items: center;
    }

    /* Especificidad del selector: 002 */
    header nav {
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }

    /* Especificidad del selector: 012 */
    header nav[hidden] {
        display: none;
    } 
            
    /* Especificidad del selector: 002 */
    header + p {
        display: none; /* En dispositivos móviles, NO mostrar las migas de navegación */
    }
}

/* Movil L (425px) */
@media (max-width: 425px) {

}
