/* Vicente Megido García - UO294013 */

/* Archivo de estilos para el layout del juego de cartas de MotoGP - Desktop */

/* Especificidad del selector: 001 */
main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto repeat(3, 1fr);
    gap: 1em;
}

/* Especificidad del selector: 002 | 002 */
main h2,
main p {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 5;
}

/* Tablet (768px) */
@media (max-width: 768px) {

    /* Especificidad del selector: 001 */
    main {
        grid-template-columns: repeat(2, 1fr); /* Advertencia controlada: Redefinición de propiedad para preservar la adaptabilidad de la web */
        grid-template-rows: auto auto repeat(6, 1fr); /* Advertencia controlada: Redefinición de propiedad para preservar la adaptabilidad de la web */
    }

    /* Especificidad del selector: 002 | 002 */
    main h2,
    main p {
        grid-column-start: 1; /* Advertencia controlada (x2): Redefinición de propiedad para preservar la adaptabilidad de la web */
        grid-column-end: 3; /* Advertencia controlada (x2): Redefinición de propiedad para preservar la adaptabilidad de la web */
    }
}

/* Movil L (425px) */
@media (max-width: 425px) {

}
